# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [2]:
import pandas as pd
import numpy as np
energy = pd.read_excel('Energy Indicators.xls', skiprows=17) # skiprows : removing header
energy = energy.drop(labels=['Unnamed: 0', 'Unnamed: 1'], axis=1) # removing first two columns
energy = energy.iloc[:227] # removing unnecessary footer
energy

,Unnamed: 2,Petajoules,Gigajoules,%
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [3]:
energy.columns =\
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan           321                       10    78.669280
1         Albania           102                       35   100.000000
2         Algeria          1959                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra             9                      121    88.695650

In [4]:
energy = energy.replace('...', np.nan) 
# For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

In [5]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
Country                     227 non-null object
Energy Supply               222 non-null float64
Energy Supply per Capita    222 non-null float64
% Renewable                 227 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [6]:
energy['Energy Supply'] =\
energy['Energy Supply'] * 1000000   # Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)

In [7]:
changing_country_names = {"Republic of Korea": "South Korea",
"United States of America20": "United States",
"United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
"China, Hong Kong Special Administrative Region3": "Hong Kong"}

energy['Country'].replace(changing_country_names, inplace=True)

In [8]:
# There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these,

changing_country_names2 = {'Australia1': 'Australia', 'Bolivia (Plurinational State of)': 'Bolivia',
                          'China2': 'China', 'China, Macao Special Administrative Region4': 'China, Macao Special Administrative Region',
                          'Denmark5': 'Denmark', 'France6': 'France', 'Greenland7':'Greenland', 'Indonesia8':'Indonesia',
                          'Iran (Islamic Republic of)':'Iran', 'Italy9':'Italy', 'Japan10':'Japan', 'Kuwait11':'Kuwait',
                          'Micronesia (Federated States of)':'Micronesia', 'Netherlands12':'Netherlands', 'Portugal13':'Portugal',
                          'Saudi Arabia14':'Saudi Arabia', 'Serbia15':'Serbia', 'Sint Maarten (Dutch part)':'Sint Maarten',
                          'Spain16':'Spain', 'Switzerland17':'Switzerland', 'Ukraine18':'Ukraine', 
                           'Venezuela (Bolivarian Republic of)':'Venezuela'}

energy['Country'].replace(changing_country_names2, inplace=True)

In [9]:
GDP = pd.read_csv('world_bank.csv',skiprows=3)

In [10]:
GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}, inplace=True)

In [11]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95
20,21,Malaysia,3914,3881,25545,6597,6.53,62
21,22,Switzerland,3636,3599,38962,6186,10.72,81
22,23,Denmark,3531,3494,37254,6191,10.55,85
23,24,Mexico,3249,3214,21524,4145,6.62,57
24,25,Poland,3123,3102,24852,5395,7.96,55
25,26,Saudi Arabia,2979,2930,21208,2469,7.12,61
26,27,Greece,2866,2835,41662,6226,14.54,82
27,28,Egypt,2789,2752,19123,2778,6.86,55
28,29,Belgium,2697,2642,23720,3300,8.79,63
29,30,Singapore,2488,2443,36098,3700,14.51,81
...,...,...,...,...,...,...,...,...
161,162,Greenland,3,3,49,0,16.33,2
162,163,Afghanistan,3,3,0,0,0.00,0
163,164,Cape Verde,3,3,5,0,1.67,1
164,165,French Guiana,3,3,1,1,0.33,1
165,166,Samoa,3,3,13,1,4.33,1
166,167,Cayman Islands,2,2,2,0,1.00,1
167,168,Andorra,2,2,13,0,6.50,1
168,169,Antigua and Barbuda,2,2,0,0,0.00,0
169,170,Haïti,2,2,4,1,2.00,1
170,171,Nauru,2,2,0,0,0.00,0
171,172,Seychelles,2,2,7,2,3.50,1
172,173,Mali,2,2,0,0,0.00,0
173,174,Bermuda,2,2,12,0,6.00,1
174,175,Chad,2,2,0,0,0.00,0
175,176,Burundi,2,2,23,0,11.50,1
176,177,Liberia,1,1,1,0,1.00,1
177,178,Togo,1,1,0,0,0.00,0
178,179,British Indian Ocean Territory,1,1,37,0,37.00,1
179,180,American Samoa,1,1,0,0,0.00,0
180,181,Saint Helena,1,1,1,0,1.00,1
181,182,Gibraltar,1,1,0,0,0.00,0
182,183,Maldives,1,1,1,0,1.00,1
183,184,Gambia,1,1,0,0,0.00,0
184,185,Belize,1,1,6,0,6.00,1
185,186,Palau,1,1,0,0,0.00,0
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [12]:
GDP.dropna(axis=1, how='all', inplace=True)

columns_for_use = ['Country Name', 'Country Code', 'Indicator Name','Indicator Code', '2006','2007','2008','2009','2010','2011',
                   '2012','2013','2014','2015']

GDP = GDP.loc[:,columns_for_use]

In [13]:
energy_GDP_mg = \
energy.merge(GDP, left_on='Country', right_on='Country Name', how='inner')

In [14]:
enrg_GDP_ScimEn_mg =\
energy_GDP_mg.merge(ScimEn, left_on='Country', right_on='Country', how='inner')

In [15]:
enrg_GDP_ScimEn_mg.columns.values

array(['Country', 'Energy Supply', 'Energy Supply per Capita',
       '% Renewable', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', 'Rank', 'Documents',
       'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index'], dtype=object)

In [16]:
enrg_GDP_ScimEn_mg.sort_values(by='Rank', inplace=True)

In [17]:
enrg_GDP_ScimEn_mg_top15 =\
enrg_GDP_ScimEn_mg.copy().iloc[:15]

enrg_GDP_ScimEn_mg_top15

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,Country Code,Indicator Name,Indicator Code,2006,2007,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
35,China,1.271910e+11,93.0,19.754910,China,CHN,GDP (current US$),NY.GDP.MKTP.CD,2.752132e+12,3.552183e+12,...,9.607224e+12,1.048237e+13,1.106466e+13,1,127050,126767,597237,411683,4.70,138
157,United States,9.083800e+10,286.0,11.570980,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1.385589e+13,1.447764e+13,...,1.669152e+13,1.739310e+13,1.803665e+13,2,96661,94747,792274,265436,8.20,230
76,Japan,1.898400e+10,149.0,10.232820,Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.530377e+12,4.515265e+12,...,5.155717e+12,4.848733e+12,4.383076e+12,3,30504,30287,223024,61554,7.31,134
156,United Kingdom,7.920000e+09,124.0,10.600470,United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,2.678278e+12,3.063005e+12,...,2.719509e+12,2.998834e+12,2.861091e+12,4,20944,20357,206091,37874,9.84,139
127,Russian Federation,3.070900e+10,214.0,17.288680,Russian Federation,RUS,GDP (current US$),NY.GDP.MKTP.CD,9.899305e+11,1.299705e+12,...,2.230625e+12,2.063662e+12,1.365865e+12,5,18534,18301,34266,12422,1.85,57
31,Canada,1.043100e+10,296.0,61.945430,Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,1.315415e+12,1.464977e+12,...,1.842628e+12,1.792883e+12,1.552808e+12,6,17899,17620,215003,40930,12.01,149
57,Germany,1.326100e+10,165.0,17.901530,Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,3.002446e+12,3.439953e+12,...,3.752514e+12,3.879277e+12,3.363447e+12,7,17027,16831,140566,27426,8.26,126
68,India,3.319500e+10,26.0,14.969080,India,IND,GDP (current US$),NY.GDP.MKTP.CD,9.491168e+11,1.201072e+12,...,1.857237e+12,2.033532e+12,2.088841e+12,8,15005,14841,128763,37209,8.58,115
54,France,1.059700e+10,166.0,17.020280,France,FRA,GDP (current US$),NY.GDP.MKTP.CD,2.325012e+12,2.663113e+12,...,2.808511e+12,2.839162e+12,2.418836e+12,9,13153,12973,130632,28601,9.93,114
125,South Korea,1.100700e+10,221.0,2.279353,South Korea,KOR,GDP (current US$),NY.GDP.MKTP.CD,1.011797e+12,1.122679e+12,...,1.305605e+12,1.411334e+12,1.377873e+12,10,11983,11923,114675,22595,9.57,104
74,Italy,6.530000e+09,109.0,33.667230,Italy,ITA,GDP (current US$),NY.GDP.MKTP.CD,1.942634e+12,2.203053e+12,...,2.130491e+12,2.149814e+12,1.821497e+12,11,10964,10794,111850,26661,10.20,106
138,Spain,4.923000e+09,106.0,37.968590,Spain,ESP,GDP (current US$),NY.GDP.MKTP.CD,1.264551e+12,1.479342e+12,...,1.361776e+12,1.375856e+12,1.192901e+12,12,9428,9330,123336,23964,13.08,115
70,Iran,9.172000e+09,119.0,5.707721,Iran,IRN,GDP (current US$),NY.GDP.MKTP.CD,2.586457e+11,3.374745e+11,...,5.116209e+11,4.253261e+11,NaN,13,8896,8819,57470,19125,6.46,72
9,Australia,5.386000e+09,231.0,11.810810,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.468808e+11,8.530533e+11,...,1.563951e+12,1.454675e+12,1.339141e+12,14,8831,8725,90765,15606,10.28,107
24,Brazil,1.214900e+10,59.0,69.648030,Brazil,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.107640e+12,1.397084e+12,...,2.472807e+12,2.455993e+12,1.803653e+12,15,8668,8596,60702,14396,7.00,86

In [18]:
enrg_GDP_ScimEn_mg_top15.drop(labels=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [19]:
enrg_GDP_ScimEn_mg_top15 =\
enrg_GDP_ScimEn_mg_top15.set_index('Country') # The index of this DataFrame should be the name of the country

In [20]:
enrg_GDP_ScimEn_mg_top15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
Energy Supply               15 non-null float64
Energy Supply per Capita    15 non-null float64
% Renewable                 15 non-null float64
2006                        15 non-null float64
2007                        15 non-null float64
2008                        15 non-null float64
2009                        15 non-null float64
2010                        15 non-null float64
2011                        15 non-null float64
2012                        15 non-null float64
2013                        15 non-null float64
2014                        15 non-null float64
2015                        14 non-null float64
Rank                        15 non-null int64
Documents                   15 non-null int64
Citable documents           15 non-null int64
Citations                   15 non-null int64
Self-citations              15 non-null int64
Citations per document      15 non-null float64
H index                     15 non-null int64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

In [21]:
def answer_one():
    return enrg_GDP_ScimEn_mg_top15

answer_one()

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13,1,127050,126767,597237,411683,4.70,138
United States,9.083800e+10,286.0,11.570980,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13,2,96661,94747,792274,265436,8.20,230
Japan,1.898400e+10,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700096e+12,6.157461e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12,3,30504,30287,223024,61554,7.31,134
United Kingdom,7.920000e+09,124.0,10.600470,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429603e+12,2.608995e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12,4,20944,20357,206091,37874,9.84,139
Russian Federation,3.070900e+10,214.0,17.288680,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524915e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12,5,18534,18301,34266,12422,1.85,57
Canada,1.043100e+10,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613406e+12,1.788703e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12,6,17899,17620,215003,40930,12.01,149
Germany,1.326100e+10,165.0,17.901530,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417298e+12,3.757465e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363447e+12,7,17027,16831,140566,27426,8.26,126
India,3.319500e+10,26.0,14.969080,9.491168e+11,1.201072e+12,1.186913e+12,1.323896e+12,1.656562e+12,1.822990e+12,1.828120e+12,1.857237e+12,2.033532e+12,2.088841e+12,8,15005,14841,128763,37209,8.58,115
France,1.059700e+10,166.0,17.020280,2.325012e+12,2.663113e+12,2.923466e+12,2.693827e+12,2.646995e+12,2.862502e+12,2.681416e+12,2.808511e+12,2.839162e+12,2.418836e+12,9,13153,12973,130632,28601,9.93,114
South Korea,1.100700e+10,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.377873e+12,10,11983,11923,114675,22595,9.57,104
Italy,6.530000e+09,109.0,33.667230,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125185e+12,2.276151e+12,2.072823e+12,2.130491e+12,2.149814e+12,1.821497e+12,11,10964,10794,111850,26661,10.20,106
Spain,4.923000e+09,106.0,37.968590,1.264551e+12,1.479342e+12,1.634989e+12,1.499075e+12,1.431673e+12,1.487925e+12,1.335946e+12,1.361776e+12,1.375856e+12,1.192901e+12,12,9428,9330,123336,23964,13.08,115
Iran,9.172000e+09,119.0,5.707721,2.586457e+11,3.374745e+11,3.971896e+11,3.989781e+11,4.677902e+11,5.920378e+11,5.872094e+11,5.116209e+11,4.253261e+11,NaN,13,8896,8819,57470,19125,6.46,72
Australia,5.386000e+09,231.0,11.810810,7.468808e+11,8.530533e+11,1.054558e+12,9.265638e+11,1.142251e+12,1.389919e+12,1.537478e+12,1.563951e+12,1.454675e+12,1.339141e+12,14,8831,8725,90765,15606,10.28,107
Brazil,1.214900e+10,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12,15,8668,8596,60702,14396,7.00,86

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [22]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [26]:
def answer_two():
    return len(enrg_GDP_ScimEn_mg.index) - 15

answer_two()

147

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [36]:
def answer_three():
    Top15 = answer_one()
    avgGDP =\
    Top15.copy().\
    loc[:,('2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')].apply(np.mean, axis=1)
    avgGDP.sort_values(ascending=False, inplace=True)
    return avgGDP

In [37]:
answer_three()

Country
United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532675e+12
United Kingdom        2.724791e+12
France                2.686284e+12
Italy                 2.129754e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611539e+12
India                 1.594828e+12
Spain                 1.406403e+12
Australia             1.200847e+12
South Korea           1.165321e+12
Iran                  4.418080e+11
dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [57]:
def answer_four():
    Top15 = answer_one()
    France_2006_2015 = Top15.copy().loc['France',['2006','2015']]
    return France_2006_2015[1] - France_2006_2015[0]

In [58]:
answer_four()

93823614678.839844

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [62]:
def answer_five():
    Top15 = answer_one()
    return Top15['Energy Supply per Capita'].mean()

In [63]:
answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [74]:
def answer_six():
    Top15 = answer_one()
    
    country =\
    Top15.where(Top15['% Renewable'] == max(Top15['% Renewable'])).dropna().index[0]
    
    percentage =\
    Top15.loc[country, '% Renewable']
    
    return (country, percentage)

In [75]:
answer_six()

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [86]:
def answer_seven():
    Top15 = answer_one()
    
    Top15['Self-Citations / Total Citations'] =\
    Top15.copy()['Self-citations'] / Top15.copy()['Citations']
    
    max_cit_ratio = max(Top15['Self-Citations / Total Citations'])

    max_cit_ratio_country =\
    Top15.where(Top15['Self-Citations / Total Citations']==max_cit_ratio).dropna().index[0]
    
    return (max_cit_ratio_country, max_cit_ratio)

In [87]:
answer_seven()

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [93]:
def answer_eight():
    Top15 = answer_one()
    Top15['Population Estimate'] =\
    Top15.copy()['Energy Supply'] / Top15.copy()['Energy Supply per Capita']
    return Top15.sort_values(by='Population Estimate', ascending=False).iloc[3,].name

In [94]:
answer_eight()

'Brazil'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [108]:
def answer_nine():
    Top15 = answer_one()
    
    Top15['Population Estimate'] =\
    Top15.copy()['Energy Supply'] / Top15.copy()['Energy Supply per Capita']
    
    Top15['Citable documents per Capita']=\
    Top15.copy()['Citable documents'] / Top15.copy()['Population Estimate']
    
    return Top15.copy().loc[:,['Citable documents per Capita', 'Energy Supply per Capita']].corr().values[0,1]

In [109]:
answer_nine()

0.79400104354429435

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [117]:
def renew_value_0_or_1(x):
    if x >= np.median(x):
        return 1
    else:
        return 0

def answer_ten():
    Top15 = answer_one()
    Top15['HighRenew'] =\
    Top15.copy()['% Renewable'].apply(renew_value_0_or_1)
    return Top15['HighRenew']

In [118]:
answer_ten()

Country
China                 1
United States         1
Japan                 1
United Kingdom        1
Russian Federation    1
Canada                1
Germany               1
India                 1
France                1
South Korea           1
Italy                 1
Spain                 1
Iran                  1
Australia             1
Brazil                1
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [165]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [166]:
def answer_eleven():
    Top15 = answer_one()
    
    Top15['Continent']=\
    pd.Series(ContinentDict)
    
    answer = Top15.groupby('Continent')['Population Estimate'].agg({'size':'count', 'sum': sum, 'mean': 'mean', 'std': 'std'})
    answer.columns = ['size', 'sum', 'mean', 'std']
    return answer

In [167]:
answer_eleven()

                       size           sum          mean  std
Continent
Asia           2.898666e+09  6.790979e+08  5.797333e+08    5
Australia      2.331602e+07           NaN  2.331602e+07    1
Europe         4.579297e+08  3.464767e+07  7.632161e+07    6
North America  3.528552e+08  1.996696e+08  1.764276e+08    2
South America  2.059153e+08           NaN  2.059153e+08    1

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [174]:
def answer_twelve():
    Top15 = answer_one()
    
    Top15['Renew_bins']=\
    pd.cut(Top15.copy()['% Renewable'], 5)
    
    return Top15.copy().reset_index().groupby(['Continent', 'Renew_bins'])['Country'].count()

In [175]:
answer_twelve()

Continent      Renew_bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: Country, dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [176]:
enrg_GDP_ScimEn_mg_top15['PopEst'] =\
enrg_GDP_ScimEn_mg_top15.copy()['Population Estimate'].map('{:,.2f}'.format)

In [183]:
def answer_thirteen():
    Top15 = answer_one()
    
    Top15['Population Estimate'] =\
    Top15.copy()['Energy Supply'] / Top15.copy()['Energy Supply per Capita']
    
    Top15['PopEst'] =\
    Top15.copy()['Population Estimate'].map('{:,.2f}'.format)
    
    return Top15['PopEst']

In [184]:
answer_thirteen()

Country
China                 1,367,645,161.29
United States           317,615,384.62
Japan                   127,409,395.97
United Kingdom           63,870,967.74
Russian Federation      143,500,000.00
Canada                   35,239,864.86
Germany                  80,369,696.97
India                 1,276,730,769.23
France                   63,837,349.40
South Korea              49,805,429.86
Italy                    59,908,256.88
Spain                    46,443,396.23
Iran                     77,075,630.25
Australia                23,316,017.32
Brazil                  205,915,254.24
Name: PopEst, dtype: object